local_settings.py
**.bak
**.pyc
**.swp
.Python
bin/
include/
src/
.enter.tcsh
.enter.local.tcsh
.installed.cfg
bin
venv*/
develop-eggs
build
dist
downloads
eggs
venv*/
parts
*.egg-info
src/*.egg-info
lib64
.DS_Store
__pycache__
node_modules/
.serverless
test.txt

.idea/
test_suite_result.json
.vscode/
.venv/